<div class="containerHome">
    
    <div class="imgYNameContainer">
        <div class="circular-image">
            <img src="/img/fotoCarnet.jpg" alt="Foto carnet">
        </div>
        <div class="name">
            Mateo Ivanovich
        </div>
        <div class="description">
            Full stack developer
        </div>
    </div>
    <div class="navegation">
        <div class="buttonAndSvg">
            <button class="navButton aboutMe">
                About me
            </button>
            <svg class="svgIcon aboutMeSvg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
        </div>
        
        <div class="buttonAndSvg"> 
            <button class="navButton projects">
                Projects
            </button>
            <svg class="svgIcon projectsSvg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
        </div>
        
        <div class="buttonAndSvg">
            <button class="navButton contact">
                Contact
            </button>
            <svg class="svgIcon contactSvg" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
        </div>
        
    </div>
    

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min.js"></script>
<script src="/js/home.js"></script>