<div class="containerAboutMe">
    <div class="buttonLeft">
        <button class="buttonBack">
            <div class="button-box">
                <span class="button-elem">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46 40">
                    <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
                </svg>
                </span>
                <span class="button-elem">
                <svg viewBox="0 0 46 40">
                    <path d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z"></path>
                </svg>
                </span>
            </div>
        </button>
    </div>
    <div class="titleAndProjects">
        <h1 class="titleProject">Projects .</h1>
        <div class="pojectsContainer">
            <a href="https://react-js-umber-alpha.vercel.app/" target="_blank">
                <article class="article-wrapper">
                    <div class="rounded-lg container-project">
                        <img src="/img/projects/reactjs.png" alt="react js">
                    </div>
                    <div class="project-info">
                        <div class="flex-pr">
                            <div class="project-title text-nowrap">Naike clothes</div>
                            <div class="project-hover">
                                <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            </div>
                        </div>
                        <div class="types">
                                <span style="background-color: rgba(165, 96, 247, 0.43); color: rgb(85, 27, 177);" class="project-type">• ReactJs</span>
                                <span class="project-type">• Dashboards</span>
                        </div>
                    </div>
                </article>
            </a>
            <a href="https://gymfitland.vercel.app/" target="_blank">
                <article class="article-wrapper">
                    <div class="rounded-lg container-project">
                        <img src="/img/projects/gymFitland.png" alt="gym fitland">
                    </div>
                    <div class="project-info">
                        <div class="flex-pr">
                            <div class="project-title text-nowrap">Gym fitland</div>
                            <div class="project-hover">
                                <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            </div>
                        </div>
                        <div class="types">
                            <span style="background-color: rgba(165, 96, 247, 0.43); color: rgb(85, 27, 177);" class="project-type">• Node.js</span>
                            <span class="project-type">• Dashboards</span>
                        </div>
                    </div>
                </article>
            </a>
            <a href="https://symphonious-cat-416174.netlify.app/" target="_blank">
                <article class="article-wrapper">
                    <div class="rounded-lg container-project">
                        <img src="/img/projects/javascript.png" alt="javascript">
                    </div>
                    <div class="project-info">
                        <div class="flex-pr">
                            <div class="project-title text-nowrap">Seguros ivanovich</div>
                            <div class="project-hover">
                                <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            </div>
                        </div>
                        <div class="types">
                                <span style="background-color: rgba(165, 96, 247, 0.43); color: rgb(85, 27, 177);" class="project-type">• Javascript</span>
                                <span class="project-type">• Dashboards</span>
                        </div>
                    </div>
                </article>
            </a>
            <a href="https://chatgpt-two-murex.vercel.app/" target="_blank">   
                <article class="article-wrapper">
                    <div class="rounded-lg container-project">
                        <img src="/img/projects/chatGPT.png" alt="chat gpt">
                    </div>
                    <div class="project-info">
                        <div class="flex-pr">
                            <div class="project-title text-nowrap">Chat gpt</div>
                            <div class="project-hover">
                                <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            </div>
                        </div>
                        <div class="types">
                                <span style="background-color: rgba(165, 96, 247, 0.43); color: rgb(85, 27, 177);" class="project-type">• Node.js</span>
                                <span style="background-color: red; color: white;" class="project-type">• Error</span>
                                <span class="project-type">• Dashboards</span>

                        </div>
                    </div>
                </article>
            </a>
            <a href="https://thunderous-starship-c84392.netlify.app/" target="_blank">
                <article class="article-wrapper">
                    <div class="rounded-lg container-project">
                        <img src="/img/projects/proyectHtml.png" alt="html racing club">
                    </div>
                    <div class="project-info">
                        <div class="flex-pr">
                            <div class="project-title text-nowrap">Racing Club</div>
                            <div class="project-hover">
                                <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            </div>
                        </div>
                        <div class="types">
                                <span style="background-color: rgba(165, 96, 247, 0.43); color: rgb(85, 27, 177);" class="project-type">• Html y Css</span>
                                <span class="project-type">• Dashboards</span>
                        </div>
                    </div>
                </article>
            </a>
            <a href="https://notes-delta-beige.vercel.app/" target="_blank">
                <article class="article-wrapper">
                    <div class="rounded-lg container-project">
                        <img src="/img/projects/notesProject.png" alt="notes project">
                    </div>
                    <div class="project-info">
                        <div class="flex-pr">
                            <div class="project-title text-nowrap">Notes</div>
                            <div class="project-hover">
                                <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            </div>
                        </div>
                        <div class="types">
                                <span style="background-color: rgba(165, 96, 247, 0.43); color: rgb(85, 27, 177);" class="project-type">• Analytics</span>
                                <span class="project-type">• Dashboards</span>
                        </div>
                    </div>
                </article>
            </a>
            <a href="https://backend-production-799f.up.railway.app/api/users/register" target="_blank">
                <article class="article-wrapper">
                    <div class="rounded-lg container-project">
                        <img src="/img/projects/market.png" alt="Market">
                    </div>
                    <div class="project-info">
                        <div class="flex-pr">
                            <div class="project-title text-nowrap">Market</div>
                            <div class="project-hover">
                                <svg style="color: black;" xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><line y2="12" x2="19" y1="12" x1="5"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            </div>
                        </div>
                        <div class="types">
                                <span style="background-color: rgba(165, 96, 247, 0.43); color: rgb(85, 27, 177);" class="project-type">• Node.js</span>
                                <span class="project-type">• Dashboards</span>
                        </div>
                    </div>
                </article>
            </a>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.0/gsap.min.js"></script>
<script src="/js/projects.js"></script>